[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "distillery"]
	path = distillery
	url = https://github.com/cran/distillery
[submodule "extRemes"]
	path = extRemes
	url = https://github.com/cran/extRemes
[submodule "in2extRemes"]
	path = in2extRemes
	url = https://github.com/cran/in2extRemes
[submodule "ismev"]
	path = ismev
	url = https://github.com/cran/ismev
[submodule "smoothie"]
	path = smoothie
	url = https://github.com/cran/smoothie
[submodule "SpatialVx"]
	path = SpatialVx
	url = https://github.com/cran/SpatialVx
[submodule "verification"]
	path = verification
	url = https://github.com/cran/verification
